sftp-config.json

Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
Github.bubline-settings

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
